services:
  app:
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
    command: [ "uv", "run", "uvicorn", "--factory", "src.main:create_app", "--host", "0.0.0.0", "--workers", "${API_WORKERS_COUNT}", "--no-server-header", "--no-date-header", "--no-use-colors", "--no-access-log" ]
    volumes:
      - migrations-data:/app/migrations/versions
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env

  postgres:
    container_name: postgres
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-U", "${DB_USER}", "-d", "${DB_NAME}" ]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  migrations-data: {}
  postgres-data: {}
