services:
  app:
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
    command: [ "uv", "run", "uvicorn", "--factory", "src.main:create_app", "--host", "0.0.0.0", "--workers", "${COMPOSE_APP_WORKERS_COUNT}", "--no-server-header", "--no-date-header", "--no-use-colors" ]
    ports:
      - "${COMPOSE_APP_PORT}:8000"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env

  postgres:
    container_name: postgres
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-U", "${DB_USER}", "-d", "${DB_NAME}" ]
      interval: 3s
      timeout: 2s
      retries: 5
    restart: always

  redis:
    container_name: redis
    image: redis:8-alpine
    command: [ "redis-server", "--requirepass", "${REDIS_PASSWORD}" ]
    volumes:
      - redis-data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping" ]
      interval: 3s
      timeout: 2s
      retries: 5
    restart: always

volumes:
  postgres-data: {}
  redis-data: {}
